/* static/admin/admin_custom.css */
#header {
    background: #222 !important;
}

#site-name a {
    background: url("/static/admin/logo.svg") no-repeat left center;
    padding-left: 60px;
    color: white;
}
