{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'movies_list' %}">Фильмы</a>
        <a href="{% url 'session_list' %}">Сеансы</a>
        {% if user.is_authenticated %}
            <span>Привет, {{ user.username }}!</span>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
