body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #1e1e1e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Автоматическая сетка с минимальной шириной для карточек */
    gap: 20px; /* Расстояние между элементами */
}

.movie-card {
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.2);
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #e50914;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #b20710;
}
